.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  background: #222844;
  border-radius: 10px;
  width: 50vw;
}
.chat-list {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  flex-grow: 1;
  overflow: auto;

}
.chat-message {
  display: flex;
  margin-top: 10px;
  margin-left: 25px;
  &.current-user {
    flex-direction: row-reverse;
    text-align: right;
    margin-right: 25px;
  }
}

.chat-content {
  display: inline-block;
}

.current-user > .chat-content {
  align-items: flex-end;
}

.chat-content > {
  .chat-user {
    display: block;
    color: gray;
    font-size: 14px;
    padding-bottom: 4px;
  }
  .chat-text {
    padding: 10px;
    max-width: 400px;
    margin: 0;
    border-radius: 12px;
    background-color: cornflowerblue;
    color: #F9FAFB;
    display: inline-block;
  }
}

.current-user > .chat-content .chat-text {
  background-color: white;
  color: cornflowerblue;
}

.sendMsg {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .sendMsg-btn {
    padding: 5px 10px;
    font-size: 24px;
    border: none;
    color: #282F4F;
    background: #F9FAFB;
  }

  .sendMsg-input {
    padding: 5px;
    font-size: 16px;
    border: none;
    flex-grow: 1;
  }
}