.container {
  max-width: 100%;
}
.loginandregister {
  height: 100vh;
  color: #F9FAFB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;

  .login-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    background: #282F4F;
    border-radius: 10px;
    box-shadow: 1px 2px 2px #222844;
  }
}

#login-btns {
  display: flex;
  align-content: center;
  justify-content: space-around;
  border-radius: 10px 10px 3px 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  padding: 20px 0;
  width: 100%;
  background: #F9FAFB;
  color: #2E365D;
}

.login-body {
  width: 100%;
  .login-title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    padding: 15px 0;
    display: flex;
    justify-content: center;
  }

  .login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    [name="email"],
    [name="password"],
    [name="name"],
    [name="surname"] {
      box-shadow: 0 2px 0  #222844;
      margin-bottom: 15px;
      padding: 10px;
      border-radius: 2px;
      width: 70%;
      border: none;
      background: lighten(#282F4F, 5%);
      color: #F9FAFB;
      outline: none;
      transition: 0.2s;
      &::placeholder {
        color: #F9FAFB;
      }
      &:focus {
        padding: 13px;
        transition: 0.2s;
      }
    }
  }
}
.errorLogin {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #DC143C;
  margin-bottom: 15px;
}

.triggerBtns{
  cursor: pointer;
  padding-bottom: 10px;
  transition: 0.3s ease-in-out;
  border-color: transparent;
}

.login-active{
  border-bottom: 2px solid #33FF57;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
  padding-bottom: 10px;

}
.triggerBtns:hover {
  border-bottom: 2px solid lighten(#282F4F, 5%);
  border-radius: 2px;
  transition: 0.3s ease-in-out;
  padding-bottom: 10px;
}

.register-active{
  border-bottom: 2px solid #DC143C;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
  padding-bottom: 10px;
}

.loginBtn,
.registerBtn {
  cursor: pointer;
  border: none;
  border-radius: 15px;
  width: 50%;
  padding: 10px;
  margin: 25px 0;
  background: rgba(0,9,189,1);
  background: -moz-linear-gradient(left, rgba(0,9,189,1) 0%, rgba(0,72,255,1) 100%);
  background: -webkit-linear-gradient(left, rgba(0,9,189,1) 0%, rgba(0,72,255,1) 100%);
  background: -o-linear-gradient(left, rgba(0,9,189,1) 0%, rgba(0,72,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(0,9,189,1) 0%, rgba(0,72,255,1) 100%);
  background: linear-gradient(to right, rgba(0,9,189,1) 0%, rgba(0,72,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0009bd', endColorstr='#0048ff', GradientType=1 );

  color: #F9FAFB;
  font-size: 0.75rem;
  transition: .2s ease-in-out;
  &:hover {
    transition: .2s ease-in-out;
    padding: 12px;
  }
}

.registerBtn:active,
.loginBtn:active{
  background: lighten(#282F4F, 8%);
  padding: 12px;
  transition: 0.1s;
}
.registerBtn:focus,
.loginBtn:focus{
  outline: none;
}