.loginandregister {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: #F9FAFB;
}

.login-body {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}